NODE_ENV=development
PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=conexa
DATABASE_PASSWORD=conexa
DATABASE_NAME=conexa_movies

JWT_SECRET=
JWT_EXPIRES_IN=1d

ADMIN_EMAIL=
ADMIN_PASSWORD=
